name: Docker Image

on:  workflow_dispatch

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Extract version and set it to TAG env var
      run: |
        echo "TAG=$(jq -r '.version' package.json)" >> $GITHUB_ENV
