name: prueba

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      iceCream:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Should eat ice cream'
        # Default value if no value is explicitly provided
        default: true
        # Input has to be provided for the workflow to run
        required: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Extract version and set it to TAG env var
        run: |
          echo "TAG=$(jq -r '.version' package.json)" >> $GITHUB_ENV
